/*

My Custom CSS
=============

Author:  Brad Hussey
Updated: August 2013
Notes:	 Hand coded for Udemy.com

*/


/* --------------------------------------
   Layout
   -------------------------------------- */



/* --------------------------------------
   Typography
   -------------------------------------- */



/* --------------------------------------
   Navbar
   -------------------------------------- */
 .styleForSearchInput{
 	width:200px;
 }
 
   
   login-form-link{
   	margin 20px;
   }
   
   .default-row-spacer{
   	margin-top: 10px;
   }
   
   .panelstyle{
   max-width:400px;
   margin-left:auto;
   margin-right:auto;
   margin-top:100px;
   }
   
   .footer {
  position: fixed;
  margin-top: 2%;
  height: 150 px;
  text-align: center;
  font-size: 0.8em;
  bottom: 0;
}
.footer ul {
  list-style-type: none;
}
.footer ul li {
  display: inline;
  margin: 0 15px;
}

.imageBorder {
    border: 1px solid grey;
    border-radius: 10px;
    height: 180px;
    width:180px; 
}

.verticalLine {
  border-left: thin black;
}

div.vertical-line{
      width: 1px; /* Line width */
      background-color: black; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float: left; /* Causes the line to float to left of content. 
        You can instead use position:absolute or display:inline-block
        if this fits better with your design */
    }

.profileSharefirst{
	margin-right:10px;
}

.mediumtopbottom{
	margin: 1px:
}

.profileShare{	
   /* max-width:400px; */
   margin-left:10px;
   margin-right:10px;
   /* margin-top:100px; */
}

.textMargin{
	margin: 0 15px;
}
   
.loginformvalidation{
    display: none;
}

.Registrationformvalidation{
    display: none;
}

.noGutter{
	padding-right:0px;
	padding-left:0px;
}

.buttonCenter{
	margin-left:450px;
    margin-right:100px;
    margin-top:170px;
    margin-width:100px;
}
   
/* --------------------------------------
   Carousel
   -------------------------------------- */



/* --------------------------------------
   Global Styles
   -------------------------------------- */



/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {
	
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	
}

/* Large desktop */
@media (min-width: 1200px) {
	
}